body {padding-top:20px;}

.navbar-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.navbar-brand{
	margin-top: -4px;
}
.pull-right{
margin-top: 8px;
}

#in {
font-size:30px;	
}

.row{
	margin-top: 70px;
	 
}