/* BOOTSTRAP 3.x GLOBAL STYLES
-------------------------------------------------- */
body {padding-top:20px;}



/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.navbar-brand{
  margin-top: -4px;
}
.pull-right{
margin-top: 8px;
}
#in {
font-size:38px; 
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

h1 {
 
  font-size:47px;
  color:#ffffff;
}

.lead {
	color:#cbcbcb;
}
#slider{
	position:relative;
	background-image   : url('http://reinsystem.com/images/rein/home/slide.jpg');
	margin-top: -10px;
	background-position: center;
	background-repeat  : no-repeat;
	background-size    : cover;
  width: :100%;
	height             : 470px;
}


#action{
	margin-top: 115px;

}
/* MARKETING CONTENT
-------------------------------------------------- */

/* Pad the edges of the mobile views a bit */
.marketing {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  text-align: center;
  margin-bottom: 20px;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-left: 10px;
  margin-right: 10px;
}


/* Featurettes
------------------------- */

.footer-3{
background: #cbcbcb;
padding-bottom: 15px;
}
/* RESPONSIVE CSS
-------------------------------------------------- */

